.Poster {
    background-color: #8DA9C4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 10px;
}

.address {
    font-family: 'Playfair Display', serif;
    padding: 20px;
    margin: 0 5px 5px 5px;
    /* box-shadow: 0 0 15px 4px
    rgba(0, 0, 0, 0.16); */
    border-bottom: 1px solid #131518;
}

.map img {
    height: fit-content;
}